.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }


.Sheading{
    border-radius: 0px 30px;
  padding: 10px 30px;
  background-color:var(--primaryColor);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.Sheading h1{
color:white;
}

.Sheading p{
color:#646b71;
}

.societydesc{
  background-repeat: no-repeat;
  background-size: cover;
  
}

.aboutBgImg{
  position: absolute;
  opacity: .2;
  z-index: -1;
  margin: auto auto;
  left:0;
  right:0;
}
