.all-departments-head {
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  color: #fff;
}
a.all-department-link {
  text-decoration: none;
}
.department-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin: 2em 0;
}
.department-inner-container {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: 0.3em solid var(--primaryColor);
  transition: 0.3s ease-in-out;
}
.department-inner-container:hover {
  box-shadow: 3px 10px 30px 0 #0007;
}
.department-inner-content {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 0 0 2px rgba(0, 0, 0.9);
  width: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0)
  );
}

@media screen and (min-width: 992px) {
  .department-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .all-departments-head {
    font-size: 2em;
  }
  .department-inner-container {
    height: 270px;
  }
}
