/* ---Animation---1 */
body {
  --Navbar-animation: 0.5s ease-in-out forwards 1;
}
.navbar-logo-img-small {
  width: 50px;
  margin: 0;
  margin-right: 1em;
}

.navbar-text-main-hide-1 {
  overflow: hidden;
  margin: 0 0.05em;
  animation: widthIncreaser1 var(--Navbar-animation);
}
@keyframes widthIncreaser1 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 41.6px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-1 {
  width: 41.6px;
  animation: widthReducer1 var(--Navbar-animation);
}
@keyframes widthReducer1 {
  0% {
    opacity: 1;
    width: 41.6px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---1 */

/* ---Animation---2 */
.navbar-text-main-hide-2 {
  margin: 0 0.05em;
  overflow: hidden;
  animation: widthIncreaser2 var(--Navbar-animation);
}
@keyframes widthIncreaser2 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 46.1px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-2 {
  width: 46.1px;
  animation: widthReducer2 var(--Navbar-animation);
}
@keyframes widthReducer2 {
  0% {
    opacity: 1;
    width: 46.1px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---2 */
/* ---Animation---3 */
.navbar-text-main-hide-3 {
  margin: 0 0.05em;
  overflow: hidden;
  animation: widthIncreaser3 var(--Navbar-animation);
}
@keyframes widthIncreaser3 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 80.85px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-3 {
  width: 80.85px;
  animation: widthReducer3 var(--Navbar-animation);
}
@keyframes widthReducer3 {
  0% {
    opacity: 1;
    width: 80.85px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---3 */
/* ---Animation---4 */
.navbar-text-main-hide-4 {
  margin: 0 0.05em;
  overflow: hidden;
  animation: widthIncreaser4 var(--Navbar-animation);
}
@keyframes widthIncreaser4 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 88.86px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-4 {
  width: 88.86px;
  animation: widthReducer4 var(--Navbar-animation);
}
@keyframes widthReducer4 {
  0% {
    opacity: 1;
    width: 88.86px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---4 */
/* ---Animation---5 */
.navbar-text-main-hide-5 {
  margin: 0 0.05em;
  overflow: hidden;
  animation: widthIncreaser5 var(--Navbar-animation);
}
@keyframes widthIncreaser5 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 28.15px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-5 {
  width: 28.15px;
  animation: widthReducer5 var(--Navbar-animation);
}
@keyframes widthReducer5 {
  0% {
    opacity: 1;
    width: 28.15px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---5 */
/* ---Animation---6 */
.navbar-text-main-hide-6 {
  margin: 0 0.05em;
  overflow: hidden;
  animation: widthIncreaser6 var(--Navbar-animation);
}
@keyframes widthIncreaser6 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 111.61px;
  }
}
.navbar-ToggleText .navbar-text-main-hide-6 {
  width: 111.61px;
  animation: widthReducer6 var(--Navbar-animation);
}
@keyframes widthReducer6 {
  0% {
    opacity: 1;
    width: 111.61px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/* ---Animation---6 */
